In [1]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.simplefilter('ignore')
warnings.filterwarnings('ignore')

In [34]:
from IPython.display import display
def display_full_dataframe(df):
    with pd.option_context('display.max_rows',None,'display.max_columns',None):
        display(df)

In [3]:
# upload the datasets
credit = pd.read_excel('Credit Banking_Project - 1.xls')

In [4]:
credit.columns

Index(['Sl No:', 'Customer', 'Age', 'City', 'Credit Card Product', 'Limit',
       'Company', 'Segment'],
      dtype='object')

In [5]:
credit.shape

(100, 8)

In [6]:
credit.head()

,Sl No:,Customer,Age,City,Credit Card Product,Limit,Company,Segment
0,1,A1,0.928521,BANGALORE,Gold,500000,C1,Self Employed
1,2,A2,35.534551,CALCUTTA,Silver,100000,C2,Salaried_MNC
2,3,A3,11.559307,COCHIN,Platimum,10000,C3,Salaried_Pvt
3,4,A4,45.820278,BOMBAY,Platimum,10001,C4,Govt
4,5,A5,69.663948,BANGALORE,Platimum,10002,C5,Normal Salary

In [7]:
# Set column as index of the dataframe
credit.set_index('Sl No:', inplace=True)

In [8]:
credit.head()

,Customer,Age,City,Credit Card Product,Limit,Company,Segment
Sl No:,,,,,,,
1,A1,0.928521,BANGALORE,Gold,500000,C1,Self Employed
2,A2,35.534551,CALCUTTA,Silver,100000,C2,Salaried_MNC
3,A3,11.559307,COCHIN,Platimum,10000,C3,Salaried_Pvt
4,A4,45.820278,BOMBAY,Platimum,10001,C4,Govt
5,A5,69.663948,BANGALORE,Platimum,10002,C5,Normal Salary

In [9]:
credit.tail()

,Customer,Age,City,Credit Card Product,Limit,Company,Segment
Sl No:,,,,,,,
96,A96,29.631637,CHENNAI,Silver,100000,C19,Salaried_Pvt
97,A97,20.611833,TRIVANDRUM,Platimum,10000,C20,Govt
98,A98,40.538985,CALCUTTA,Platimum,10001,C21,Normal Salary
99,A99,21.588666,CALCUTTA,Platimum,10002,C22,Self Employed
100,A100,23.607638,COCHIN,Silver,100000,C5,Salaried_MNC

In [10]:
credit.isnull().sum()

Customer               0
Age                    0
City                   0
Credit Card Product    0
Limit                  0
Company                0
Segment                0
dtype: int64

There is no null value present in the datasets.

In [11]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 1 to 100
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Customer             100 non-null    object
 1   Age                  100 non-null    float64
 2   City                 100 non-null    object
 3   Credit Card Product  100 non-null    object
 4   Limit                100 non-null    int64
 5   Company              100 non-null    object
 6   Segment              100 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 6.2+ KB

In [12]:
credit.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,100.0,40.146505,23.629594,0.726493,20.254138,40.545682,61.60691,78.431756
Limit,100.0,284700.610000,218494.967852,10000.000000,100000.000000,300001.500000,500000.00000,500000.000000

 The age value which is less than 18 is invalid data so I will repalce that value with mean i.e **40.14**

In [13]:
credit['Age']

Sl No:
1       0.928521
2      35.534551
3      11.559307
4      45.820278
5      69.663948
         ...
96     29.631637
97     20.611833
98     40.538985
99     21.588666
100    23.607638
Name: Age, Length: 100, dtype: float64

In [14]:
mean_age = credit['Age'].mean()
print(mean_age)

40.14650487273873

In [15]:
credit.loc[(credit['Age']<18),'Age'] = mean_age

In [16]:
credit['Age']

Sl No:
1      40.146505
2      35.534551
3      40.146505
4      45.820278
5      69.663948
         ...
96     29.631637
97     20.611833
98     40.538985
99     21.588666
100    23.607638
Name: Age, Length: 100, dtype: float64

In [17]:
new_mean_age = credit['Age'].mean()
print(new_mean_age)

47.28032183784049

The new mean of age column is **47.28** so we can continue with this approach as the datasets did not change its nature much.

In [18]:
# importing spend worksheet 
spend = pd.read_excel('Credit Banking_Project - 1.xls', sheet_name='Spend')

In [19]:
spend

      Sl No: Customer      Month        Type         Amount
0          1       A1 2004-01-12   JEWELLERY  473775.834869
1          2       A1 2004-01-03       PETRO  335578.666019
2          3       A1 2004-01-15     CLOTHES  371040.941912
3          4       A1 2004-01-25        FOOD  141177.813256
4          5       A1 2005-01-17      CAMERA  398403.771812
...      ...      ...        ...         ...            ...
1495    1496      A67 2006-02-04  BUS TICKET  195841.312215
1496    1497      A68 2006-03-25  BUS TICKET  284262.517709
1497    1498      A69 2006-03-31  BUS TICKET  206552.273598
1498    1499      A70 2006-03-23  BUS TICKET   41024.781283
1499    1500      A71 2006-03-24  BUS TICKET  101397.548588

[1500 rows x 5 columns]

In [20]:
spend.set_index('Sl No:', inplace=True)

In [21]:
spend.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1500 entries, 1 to 1500
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Customer  1500 non-null   object
 1   Month     1500 non-null   datetime64[ns]
 2   Type      1500 non-null   object
 3   Amount    1500 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 58.6+ KB

In [22]:
spend['S Month'] = spend['Month'].dt.strftime('%B')
spend['S Year'] = spend['Month'].dt.year

In [23]:
spend = spend.drop(columns=['Month'])

In [24]:
spend

       Customer        Type         Amount   S Month  S Year
Sl No:
1            A1   JEWELLERY  473775.834869   January    2004
2            A1       PETRO  335578.666019   January    2004
3            A1     CLOTHES  371040.941912   January    2004
4            A1        FOOD  141177.813256   January    2004
5            A1      CAMERA  398403.771812   January    2005
...         ...         ...            ...       ...     ...
1496        A67  BUS TICKET  195841.312215  February    2006
1497        A68  BUS TICKET  284262.517709     March    2006
1498        A69  BUS TICKET  206552.273598     March    2006
1499        A70  BUS TICKET   41024.781283     March    2006
1500        A71  BUS TICKET  101397.548588     March    2006

[1500 rows x 5 columns]

In [25]:
# importing repayment worksheet
repayment = pd.read_excel('Credit Banking_Project - 1.xls', sheet_name='Repayment')

In [26]:
repayment

      SL No: Customer      Month         Amount
0          1       A1 2004-01-12  331844.007374
1          2       A1 2004-01-03  441139.807335
2          3       A1 2004-01-15   32480.004009
3          4       A1 2004-01-25   90636.966534
4          5       A1 2005-01-17    1581.969829
...      ...      ...        ...            ...
1495    1496      A67 2005-05-09  200288.874065
1496    1497      A68 2006-05-10  231194.702295
1497    1498      A69 2006-07-11  391195.615836
1498    1499      A70 2005-08-12  357629.618186
1499    1500      A71 2004-09-13  179771.745248

[1500 rows x 4 columns]

In [27]:
repayment.set_index('SL No:', inplace=True)

In [28]:
repayment.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1500 entries, 1 to 1500
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Customer  1500 non-null   object
 1   Month     1500 non-null   datetime64[ns]
 2   Amount    1500 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 46.9+ KB

In [29]:
repayment['R Month'] = repayment['Month'].dt.strftime('%B')
repayment['R Year'] = repayment['Month'].dt.year
repayment = repayment.drop(columns=['Month'])

In [31]:
repayment = repayment.rename(columns={'Amount':'Repayment'})

In [32]:
repayment

       Customer      Repayment    R Month  R Year
SL No:
1            A1  331844.007374    January    2004
2            A1  441139.807335    January    2004
3            A1   32480.004009    January    2004
4            A1   90636.966534    January    2004
5            A1    1581.969829    January    2005
...         ...            ...        ...     ...
1496        A67  200288.874065        May    2005
1497        A68  231194.702295        May    2006
1498        A69  391195.615836       July    2006
1499        A70  357629.618186     August    2005
1500        A71  179771.745248  September    2004

[1500 rows x 4 columns]

## Customer who exceed the limit in any particluar month

In [33]:
merge_credit_spend = pd.merge(credit,spend,on='Customer',how='left')

In [35]:
display_full_dataframe(merge_credit_spend)

     Customer        Age        City Credit Card Product   Limit Company  \
0          A1  40.146505   BANGALORE                Gold  500000      C1
1          A1  40.146505   BANGALORE                Gold  500000      C1
2          A1  40.146505   BANGALORE                Gold  500000      C1
3          A1  40.146505   BANGALORE                Gold  500000      C1
4          A1  40.146505   BANGALORE                Gold  500000      C1
5          A1  40.146505   BANGALORE                Gold  500000      C1
6          A1  40.146505   BANGALORE                Gold  500000      C1
7          A1  40.146505   BANGALORE                Gold  500000      C1
8          A1  40.146505   BANGALORE                Gold  500000      C1
9          A1  40.146505   BANGALORE                Gold  500000      C1
10         A1  40.146505   BANGALORE                Gold  500000      C1
11         A1  40.146505   BANGALORE                Gold  500000      C1
12         A1  40.146505   BANGALORE                Gold  500000      C1
13         A1  40.146505   BANGALORE                Gold  500000      C1
14         A1  40.146505   BANGALORE                Gold  500000      C1
15         A1  40.146505   BANGALORE                Gold  500000      C1
16         A1  40.146505   BANGALORE                Gold  500000      C1
17         A1  40.146505   BANGALORE                Gold  500000      C1
18         A2  35.534551    CALCUTTA              Silver  100000      C2
19         A2  35.534551    CALCUTTA              Silver  100000      C2
20         A2  35.534551    CALCUTTA              Silver  100000      C2
21         A2  35.534551    CALCUTTA              Silver  100000      C2
22         A2  35.534551    CALCUTTA              Silver  100000      C2
23         A2  35.534551    CALCUTTA              Silver  100000      C2
24         A2  35.534551    CALCUTTA              Silver  100000      C2
25         A2  35.534551    CALCUTTA              Silver  100000      C2
26         A2  35.534551    CALCUTTA              Silver  100000      C2
27         A2  35.534551    CALCUTTA              Silver  100000      C2
28         A2  35.534551    CALCUTTA              Silver  100000      C2
29         A3  40.146505      COCHIN            Platimum   10000      C3
30         A3  40.146505      COCHIN            Platimum   10000      C3
31         A3  40.146505      COCHIN            Platimum   10000      C3
32         A3  40.146505      COCHIN            Platimum   10000      C3
33         A3  40.146505      COCHIN            Platimum   10000      C3
34         A3  40.146505      COCHIN            Platimum   10000      C3
35         A3  40.146505      COCHIN            Platimum   10000      C3
36         A3  40.146505      COCHIN            Platimum   10000      C3
37         A3  40.146505      COCHIN            Platimum   10000      C3
38         A3  40.146505      COCHIN            Platimum   10000      C3
39         A3  40.146505      COCHIN            Platimum   10000      C3
40         A4  45.820278      BOMBAY            Platimum   10001      C4
41         A4  45.820278      BOMBAY            Platimum   10001      C4
42         A4  45.820278      BOMBAY            Platimum   10001      C4
43         A4  45.820278      BOMBAY            Platimum   10001      C4
44         A4  45.820278      BOMBAY            Platimum   10001      C4
45         A4  45.820278      BOMBAY            Platimum   10001      C4
46         A4  45.820278      BOMBAY            Platimum   10001      C4
47         A4  45.820278      BOMBAY            Platimum   10001      C4
48         A4  45.820278      BOMBAY            Platimum   10001      C4
49         A4  45.820278      BOMBAY            Platimum   10001      C4
50         A4  45.820278      BOMBAY            Platimum   10001      C4
51         A5  69.663948   BANGALORE            Platimum   10002      C5
52         A5  69.663948   BANGALORE            Platimum   10002      C5
53         A5  69.663948   BANGALORE            Platimum   10002      C5
54         A5  69.663948   BANGALORE            Platimum   10002      C5
55         A5  69.663948   BANGALORE            Platimum   10002      C5
56         A5  69.663948   BANGALORE            Platimum   10002      C5
57         A5  69.663948   BANGALORE            Platimum   10002      C5
58         A5  69.663948   BANGALORE            Platimum   10002      C5
59         A5  69.663948   BANGALORE            Platimum   10002      C5
60         A5  69.663948   BANGALORE            Platimum   10002      C5
61         A5  69.663948   BANGALORE            Platimum   10002      C5
62         A5  69.663948   BANGALORE            Platimum   10002      C5
63         A5  69.663948   BANGALORE            Platimum   10002      C5
64         A5  69.663948   BANGALORE            Platimum   10002      C5
65         A5  69.663948   BANGALORE            Platimum   10002      C5
66         A5  69.663948   BANGALORE            Platimum   10002      C5
67         A5  69.663948   BANGALORE            Platimum   10002      C5
68         A6  35.578586       DELHI              Silver  100000      C6
69         A6  35.578586       DELHI              Silver  100000      C6
70         A6  35.578586       DELHI              Silver  100000      C6
71         A6  35.578586       DELHI              Silver  100000      C6
72         A6  35.578586       DELHI              Silver  100000      C6
73         A6  35.578586       DELHI              Silver  100000      C6
74         A6  35.578586       DELHI              Silver  100000      C6
75         A6  35.578586       DELHI              Silver  100000      C6
76         A6  35.578586       DELHI              Silver  100000      C6
77         A6  35.578586       DELHI              Silver  100000      C6
78         A6  35.578586       DELHI              Silver  100000      C6
79         A6  35.578586       DELHI              Silver  100000      C6
80         A6  35.578586       DELHI              Silver  100000      C6
81         A6  35.578586       DELHI              Silver  100000      C6
82         A6  35.578586       DELHI              Silver  100000      C6
83         A6  35.578586       DELHI              Silver  100000      C6
84         A6  35.578586       DELHI              Silver  100000      C6
85         A7  52.102217      COCHIN              Silver  100001      C7
86         A7  52.102217      COCHIN              Silver  100001      C7
87         A7  52.102217      COCHIN              Silver  100001      C7
88         A7  52.102217      COCHIN              Silver  100001      C7
89         A7  52.102217      COCHIN              Silver  100001      C7
90         A7  52.102217      COCHIN              Silver  100001      C7
91         A7  52.102217      COCHIN              Silver  100001      C7
92         A7  52.102217      COCHIN              Silver  100001      C7
93         A7  52.102217      COCHIN              Silver  100001      C7
94         A7  52.102217      COCHIN              Silver  100001      C7
95         A7  52.102217      COCHIN              Silver  100001      C7
96         A7  52.102217      COCHIN              Silver  100001      C7
97         A7  52.102217      COCHIN              Silver  100001      C7
98         A7  52.102217      COCHIN              Silver  100001      C7
99         A7  52.102217      COCHIN              Silver  100001      C7
100        A7  52.102217      COCHIN              Silver  100001      C7
101        A7  52.102217      COCHIN              Silver  100001      C7
102        A8  77.839595       PATNA              Silver  100002      C8
103        A8  77.839595       PATNA              Silver  100002      C8
104        A8  77.839595       PATNA              Silver  100002      C8
105        A8  77.839595       PATNA              Silver  100002      C8
106        A8  77.839595       PATNA              Silver  100002      C8
107        A8  77.839595       PATNA              Silver  100002      C8
108        A8  77.839595       PATNA              Silver  100002      C8
109        A8  77.839595       PATNA              Silver  100002      C8
110        A8  77.839595       PATNA              Silver  100002      C8
111        A8  77.839595       PATNA              Silver  100002      C8
112        A8  77.839595       PATNA              Silver  100002      C8
113        A8  77.839595       PATNA              Silver  100002      C8
114        A8  77.839595       PATNA              Silver  100002      C8
115        A8  77.839595       PATNA              Silver  100002      C8
116        A8  77.839595       PATNA              Silver  100002      C8
117        A8  77.839595       PATNA              Silver  100002      C8
118        A8  77.839595       PATNA              Silver  100002      C8
119        A8  77.839595       PATNA              Silver  100002      C8
120        A9  18.158058     CHENNAI              Silver  100003      C9
121        A9  18.158058     CHENNAI              Silver  100003      C9
122        A9  18.158058     CHENNAI              Silver  100003      C9
123        A9  18.158058     CHENNAI              Silver  100003      C9
124        A9  18.158058     CHENNAI              Silver  100003      C9
125        A9  18.158058     CHENNAI              Silver  100003      C9
126        A9  18.158058     CHENNAI              Silver  100003      C9
127        A9  18.158058     CHENNAI              Silver  100003      C9
128        A9  18.158058     CHENNAI              Silver  100003      C9
129        A9  18.158058     CHENNAI              Silver  100003      C9
130        A9  18.158058     CHENNAI              Silver  100003      C9
131        A9  18.158058     CHENNAI              Silver  100003      C9
132        A9  18.158058     CHENNAI              Silver  100003      C9
133        A9  18.158058     CHENNAI              Silver  100003      C9
134        A9  18.158058     CHENNAI              Silver  100003      C9
135        A9  18.158058     CHENNAI              Silver  100003      C9
136        A9  18.158058     CHENNAI              Silver  100003      C9
137        A9  18.158058     CHENNAI              Silver  100003      C9
138       A10  40.146505    CALCUTTA                Gold  500000     C10
139       A10  40.146505    CALCUTTA                Gold  500000     C10
140       A10  40.146505    CALCUTTA                Gold  500000     C10
141       A10  40.146505    CALCUTTA                Gold  500000     C10
142       A10  40.146505    CALCUTTA                Gold  500000     C10
143       A10  40.146505    CALCUTTA                Gold  500000     C10
144       A10  40.146505    CALCUTTA                Gold  500000     C10
145       A10  40.146505    CALCUTTA                Gold  500000     C10
146       A10  40.146505    CALCUTTA                Gold  500000     C10
147       A10  40.146505    CALCUTTA                Gold  500000     C10
148       A10  40.146505    CALCUTTA                Gold  500000     C10
149       A10  40.146505    CALCUTTA                Gold  500000     C10
150       A10  40.146505    CALCUTTA                Gold  500000     C10
151       A10  40.146505    CALCUTTA                Gold  500000     C10
152       A10  40.146505    CALCUTTA                Gold  500000     C10
153       A10  40.146505    CALCUTTA                Gold  500000     C10
154       A10  40.146505    CALCUTTA                Gold  500000     C10
155       A10  40.146505    CALCUTTA                Gold  500000     C10
156       A11  61.341063      COCHIN                Gold  500000     C11
157       A11  61.341063      COCHIN                Gold  500000     C11
158       A11  61.341063      COCHIN                Gold  500000     C11
159       A11  61.341063      COCHIN                Gold  500000     C11
160       A11  61.341063      COCHIN                Gold  500000     C11
161       A11  61.341063      COCHIN                Gold  500000     C11
162       A11  61.341063      COCHIN                Gold  500000     C11
163       A11  61.341063      COCHIN                Gold  500000     C11
164       A11  61.341063      COCHIN                Gold  500000     C11
165       A11  61.341063      COCHIN                Gold  500000     C11
166       A11  61.341063      COCHIN                Gold  500000     C11
167       A11  61.341063      COCHIN                Gold  500000     C11
168       A11  61.341063      COCHIN                Gold  500000     C11
169       A11  61.341063      COCHIN                Gold  500000     C11
170       A11  61.341063      COCHIN                Gold  500000     C11
171       A11  61.341063      COCHIN                Gold  500000     C11
172       A11  61.341063      COCHIN                Gold  500000     C11
173       A11  61.341063      COCHIN                Gold  500000     C11
174       A12  40.146505      BOMBAY                Gold  500000     C12
175       A12  40.146505      BOMBAY                Gold  500000     C12
176       A12  40.146505      BOMBAY                Gold  500000     C12
177       A12  40.146505      BOMBAY                Gold  500000     C12
178       A12  40.146505      BOMBAY                Gold  500000     C12
179       A12  40.146505      BOMBAY                Gold  500000     C12
180       A12  40.146505      BOMBAY                Gold  500000     C12
181       A12  40.146505      BOMBAY                Gold  500000     C12
182       A12  40.146505      BOMBAY                Gold  500000     C12
183       A12  40.146505      BOMBAY                Gold  500000     C12
184       A12  40.146505      BOMBAY                Gold  500000     C12
185       A12  40.146505      BOMBAY                Gold  500000     C12
186       A12  40.146505      BOMBAY                Gold  500000     C12
187       A12  40.146505      BOMBAY                Gold  500000     C12
188       A12  40.146505      BOMBAY                Gold  500000     C12
189       A12  40.146505      BOMBAY                Gold  500000     C12
190       A12  40.146505      BOMBAY                Gold  500000     C12
191       A12  40.146505      BOMBAY                Gold  500000     C12
192       A12  40.146505      BOMBAY                Gold  500000     C12
193       A12  40.146505      BOMBAY                Gold  500000     C12
194       A12  40.146505      BOMBAY                Gold  500000     C12
195       A12  40.146505      BOMBAY                Gold  500000     C12
196       A12  40.146505      BOMBAY                Gold  500000     C12
197       A12  40.146505      BOMBAY                Gold  500000     C12
198       A12  40.146505      BOMBAY                Gold  500000     C12
199       A12  40.146505      BOMBAY                Gold  500000     C12
200       A12  40.146505      BOMBAY                Gold  500000     C12
201       A12  40.146505      BOMBAY                Gold  500000     C12
202       A12  40.146505      BOMBAY                Gold  500000     C12
203       A12  40.146505      BOMBAY                Gold  500000     C12
204       A12  40.146505      BOMBAY                Gold  500000     C12
205       A13  40.141127   BANGALORE                Gold  500000     C13
206       A13  40.141127   BANGALORE                Gold  500000     C13
207       A13  40.141127   BANGALORE                Gold  500000     C13
208       A13  40.141127   BANGALORE                Gold  500000     C13
209       A13  40.141127   BANGALORE                Gold  500000     C13
210       A13  40.141127   BANGALORE                Gold  500000     C13
211       A13  40.141127   BANGALORE                Gold  500000     C13
212       A13  40.141127   BANGALORE                Gold  500000     C13
213       A13  40.141127   BANGALORE                Gold  500000     C13
214       A13  40.141127   BANGALORE                Gold  500000     C13
215       A13  40.141127   BANGALORE                Gold  500000     C13
216       A13  40.141127   BANGALORE                Gold  500000     C13
217       A13  40.141127   BANGALORE                Gold  500000     C13
218       A13  40.141127   BANGALORE                Gold  500000     C13
219       A13  40.141127   BANGALORE                Gold  500000     C13
220       A13  40.141127   BANGALORE                Gold  500000     C13
221       A13  40.141127   BANGALORE                Gold  500000     C13
222       A13  40.141127   BANGALORE                Gold  500000     C13
223       A13  40.141127   BANGALORE                Gold  500000     C13
224       A13  40.141127   BANGALORE                Gold  500000     C13
225       A13  40.141127   BANGALORE                Gold  500000     C13
226       A13  40.141127   BANGALORE                Gold  500000     C13
227       A13  40.141127   BANGALORE                Gold  500000     C13
228       A13  40.141127   BANGALORE                Gold  500000     C13
229       A13  40.141127   BANGALORE                Gold  500000     C13
230       A13  40.141127   BANGALORE                Gold  500000     C13
231       A13  40.141127   BANGALORE                Gold  500000     C13
232       A13  40.141127   BANGALORE                Gold  500000     C13
233       A13  40.141127   BANGALORE                Gold  500000     C13
234       A13  40.141127   BANGALORE                Gold  500000     C13
235       A13  40.141127   BANGALORE                Gold  500000     C13
236       A14  40.146505   BANGALORE                Gold  500000     C14
237       A14  40.146505   BANGALORE                Gold  500000     C14
238       A14  40.146505   BANGALORE                Gold  500000     C14
239       A14  40.146505   BANGALORE                Gold  500000     C14
240       A14  40.146505   BANGALORE                Gold  500000     C14
241       A14  40.146505   BANGALORE                Gold  500000     C14
242       A14  40.146505   BANGALORE                Gold  500000     C14
243       A14  40.146505   BANGALORE                Gold  500000     C14
244       A14  40.146505   BANGALORE                Gold  500000     C14
245       A14  40.146505   BANGALORE                Gold  500000     C14
246       A14  40.146505   BANGALORE                Gold  500000     C14
247       A14  40.146505   BANGALORE                Gold  500000     C14
248       A14  40.146505   BANGALORE                Gold  500000     C14
249       A14  40.146505   BANGALORE                Gold  500000     C14
250       A14  40.146505   BANGALORE                Gold  500000     C14
251       A14  40.146505   BANGALORE                Gold  500000     C14
252       A14  40.146505   BANGALORE                Gold  500000     C14
253       A14  40.146505   BANGALORE                Gold  500000     C14
254       A14  40.146505   BANGALORE                Gold  500000     C14
255       A14  40.146505   BANGALORE                Gold  500000     C14
256       A14  40.146505   BANGALORE                Gold  500000     C14
257       A14  40.146505   BANGALORE                Gold  500000     C14
258       A14  40.146505   BANGALORE                Gold  500000     C14
259       A14  40.146505   BANGALORE                Gold  500000     C14
260       A14  40.146505   BANGALORE                Gold  500000     C14
261       A14  40.146505   BANGALORE                Gold  500000     C14
262       A14  40.146505   BANGALORE                Gold  500000     C14
263       A14  40.146505   BANGALORE                Gold  500000     C14
264       A14  40.146505   BANGALORE                Gold  500000     C14
265       A14  40.146505   BANGALORE                Gold  500000     C14
266       A14  40.146505   BANGALORE                Gold  500000     C14
267       A15  22.680845    CALCUTTA                Gold  500000     C15
268       A15  22.680845    CALCUTTA                Gold  500000     C15
269       A15  22.680845    CALCUTTA                Gold  500000     C15
270       A15  22.680845    CALCUTTA                Gold  500000     C15
271       A15  22.680845    CALCUTTA                Gold  500000     C15

In [36]:
merge_credit_spend['Exceed_limit'] = merge_credit_spend['Amount'] - merge_credit_spend['Limit']

In [37]:
limit = merge_credit_spend.groupby(['Customer','S Month','S Year'])['Exceed_limit'].sum()

In [38]:
limit = pd.DataFrame(limit)
limit

                          Exceed_limit
Customer S Month  S Year
A1       April    2006   -4.354931e+05
         August   2005   -3.706117e+05
         February 2004   -4.586189e+05
                  2005   -5.958070e+05
         January  2004   -1.488827e+06
...                                ...
A95      January  2004   -1.521661e+05
A96      January  2004    2.203635e+05
A97      January  2004    1.543300e+05
A98      January  2004    7.748251e+04
A99      January  2004    4.660184e+05

[807 rows x 1 columns]

In [39]:
cross_limit = limit>0

In [41]:
display_full_dataframe(cross_limit)

                           Exceed_limit
Customer S Month   S Year
A1       April     2006           False
         August    2005           False
         February  2004           False
                   2005           False
         January   2004           False
                   2005           False
         May       2004           False
         November  2005           False
         October   2006           False
A10      April     2006           False
         August    2006           False
         February  2005           False
         January   2004           False
         July      2006           False
         March     2004           False
                   2006           False
         May       2004           False
                   2005           False
                   2006           False
         November  2005           False
A100     January   2004           False
A11      April     2004           False
         August    2005           False
         February  2004           False
                   2005           False
         January   2004           False
         June      2005           False
                   2006           False
         March     2006           False
         May       2005           False
                   2006           False
         November  2006           False
         September 2006           False
A12      April     2005           False
                   2006           False
         August    2006           False
         February  2004           False
                   2005           False
         January   2004           False
                   2005           False
         July      2006           False
         June      2005           False
         March     2006           False
         May       2005           False
         November  2005           False
         October   2006           False
         September 2004           False
A13      April     2004           False
                   2006           False
         August    2006           False
         February  2005           False
                   2006           False
         January   2004           False
         July      2005           False
         June      2005           False
         March     2006           False
         May       2004           False
                   2005           False
                   2006           False
         November  2004           False
                   2005           False
                   2006           False
         September 2006           False
A14      April     2004           False
                   2005           False
                   2006           False
         August    2005           False
         December  2006           False
         February  2005           False
         January   2004           False
         July      2005           False
                   2006           False
         June      2005           False
         March     2006           False
         May       2005           False
                   2006           False
         November  2006           False
         October   2006           False
         September 2006           False
A15      August    2005           False
         February  2004           False
                   2005           False
                   2006           False
         January   2004           False
         July      2005           False
         June      2005           False
                   2006           False
         March     2006           False
         May       2005           False
                   2006           False
         November  2006           False
         September 2005           False
A16      August    2005           False
         December  2006           False
         February  2005           False
                   2006           False
         January   2004           False
         July      2006           False
         June      2005           False
         March     2006           False
         May       2005           False
                   2006           False
         October   2005           False
         September 2004           False
A17      August    2005           False
                   2006           False
         February  2005           False
         January   2004           False
         June      2005           False
         March     2004           False
                   2006           False
         May       2005           False
         November  2005           False
         September 2005           False
A18      December  2005            True
         February  2005           False
         January   2004            True
         July      2005            True
         March     2006            True
         May       2005            True
                   2006            True
         November  2006            True
         October   2005            True
         September 2004            True
                   2006            True
A19      April     2005            True
         August    2005            True
         February  2005            True
         January   2004            True
                   2005            True
                   2006            True
         July      2006            True
         March     2004            True
                   2006            True
         May       2005            True
         November  2005            True
         October   2006            True
A2       April     2004            True
                   2006            True
         February  2005            True
                   2006            True
         January   2004            True
         May       2006            True
         November  2004            True
                   2006           False
         September 2005            True
A20      April     2006            True
         August    2005            True
         December  2005            True
         February  2005            True
                   2006            True
         January   2004            True
         June      2005            True
         March     2004            True
                   2006            True
         November  2004            True
                   2006            True
         September 2005            True
A21      April     2004            True
                   2005            True
                   2006            True
         December  2006            True
         February  2004            True
                   2005            True
         January   2004            True
                   2005            True
                   2006            True
         June      2005            True
         March     2006            True
         May       2005            True
                   2006            True
         November  2005            True
         October   2005            True
         September 2004            True
A22      April     2005           False
                   2006            True
         February  2004            True
                   2005            True
                   2006            True
         January   2004            True
         July      2006           False
         June      2005            True
                   2006            True
         March     2004            True
                   2006            True
         May       2005            True
         November  2004            True
                   2005            True
A23      April     2004            True
                   2006            True
         August    2005           False
         December  2005            True
         February  2005            True
         January   2004            True
         July      2005            True
                   2006            True
         June      2005            True
         March     2006            True
         May       2004            True
                   2005            True
                   2006            True
         November  2006           False
A24      April     2005            True
                   2006            True
         August    2005            True
                   2006            True
         February  2004            True
                   2005            True
         January   2004            True
                   2006            True
         June      2005            True
                   2006            True
         March     2004           False
                   2006            True
         May       2005            True
                   2006            True
         November  2005            True
         September 2004            True
A25      April     2004            True
                   2006            True
         February  2005           False
                   2006            True
         January   2004            True
                   2005            True
         July      2005           False
                   2006            True
         March     2006            True
         May       2004            True
                   2005            True
         November  2004           False
                   2005            True
         September 2005            True
                   2006            True
A26      April     2004           False
                   2005           False
                   2006           False
         August    2005           False
                   2006           False
         February  2005           False
                   2006           False
         January   2004           False
                   2005           False
         March     2006           False
         May       2005           False
                   2006           False
         November  2006           False
         October   2005           False
                   2006           False
A27      April     2006           False
         February  2005           False
         January   2004           False
         March     2006           False
         May       2004           False
                   2005           False
         November  2005           False
                   2006           False
         September 2005           False
                   2006           False
A28      April     2004           False
                   2006           False
         December  2005           False
                   2006           False
         February  2004           False
                   2005           False
         January   2004           False
         March     2006           False
         May       2005           False
                   2006           False
         November  2004           False
         October   2005           False
                   2006           False
A29      April     2005           False
                   2006           False
         February  2004           False
                   2005           False
                   2006           False
         January   2004           False
                   2006           False
         July      2006           False
         June      2005           False
                   2006           False
         March     2006           False
         May       2005           False
         November  2005           False
                   2006           False
A3       April     2005            True
                   2006            True
         December  2006            True
         February  2005            True
                   2006            True
         January   2004            True
         March     2006            True
         May       2005            True
         October   2005            True
A30      April     2004           False
                   2006           False
         August    2005           False
         December  2005           False
                   2006           False
         February  2005           False
                   2006           False
         January   2004           False
         July      2006           False
         June      2005           False
         March     2006           False
         May       2004           False
                   2005           False
                   2006           False
A31      April     2006           False
         August    2006           False
         February  2005           False
         January   2004           False
                   2006           False
         July      2006           False
         March     2006           False
         May       2005           False
                   2006           False
         September 2004           False
A32      April     2006           False
         August    2005           False
         February  2005           False
                   2006           False
         January   2004           False
                   2005           False
         March     2006           False
         May       2005           False
         November  2005           False
         September 2006           False
A33      April     2006            True
         February  2005            True
                   2006            True
         January   2004            True
                   2005            True
         March     2006            True
         May       2005            True
                   2006            True
         November  2006            True
         October   2006            True
         September 2004            True
A34      April     2006            True
         February  2005            True
         January   2004            True
         March     2006            True
         May       2005            True
         November  2005            True
                   2006            True
A35      December  2006            True
         February  2004            True
                   2005           False
         January   2004            True
         March     2006            True
         May       2005            True
                   2006            True
         November  2004            True
                   2006           False
A36      April     2006            True
         December  2006            True
         February  2004            True
                   2005            True
         January   2004            True
         July      2006            True
         June      2006            True
         March     2006            True
         May       2005            True
         November  2004            True
                   2005            True
         September 2005            True
A37      April     2004           False
         August    2005            True
         February  2004            True
                   2005            True
         January   2004            True
         July      2006           False
         June      2005            True
         March     2004            True
                   2006            True
         May       2005            True
                   2006           False
         November  2004            True
         October   2005            True
A38      April     2005           False
                   2006           False
         August    2006           False
         February  2005           False
         January   2004           False
         July      2006           False
         June      2005           False
                   2006           False
         March     2004           False
                   2006           False
         May       2005           False
         November  2005           False
         September 2004           False
A39      April     2005           False
                   2006           False
         August    2005           False
         December  2005           False
         February  2005           False
         January   2004           False
                   2005           False
         July      2006           False
         June      2005           False
         March     2006           False
         May       2004           False
                   2005           False
         November  2005           False
         September 2006           False
A4       February  2005            True
         January   2004            True
         March     2006            True
         May       2004            True
                   2005            True
                   2006            True
         November  2005            True
A40      April     2005           False
                   2006           False
         August    2006           False
         February  2005           False
                   2006           False
         January   2004           False
                   2005           False
                   2006           False
         July      2005           False
         June      2005           False
         March     2006           False
         May       2005           False
                   2006           False
         November  2006           False
         October   2006           False
         September 2004           False
A41      April     2004           False
                   2006           False
         August    2005           False
         February  2005           False
                   2006           False
         January   2004           False
                   2005           False
         July      2005           False
         March     2006           False
         May       2005           False
         November  2005           False
                   2006           False
         September 2006           False
A42      April     2004           False
                   2006           False
         August    2005           False
         December  2006           False
         February  2004           False
                   2005           False
                   2006           False
         January   2004           False
         March     2006           False
         May       2005           False
                   2006           False
         November  2004           False
                   2006           False
         October   2006           False
         September 2005           False
A43      April     2004           False
                   2006           False
         February  2004           False
                   2005           False
         January   2004           False
         March     2006           False
         May       2005           False
         November  2005           False
                   2006           False
         October   2005           False
         September 2005           False
A44      April     2004           False
                   2005           False
         December  2006           False
         February  2004           False
                   2005           False
         January   2004           False
         June      2005           False
         March     2004           False
                   2006           False
         May       2005           False
                   2006           False
         November  2004           False
                   2005           False
         October   2005           False
A45      April     2005           False
                   2006           False
         December  2005           False
         February  2005           False
         January   2004           False
         July      2006           False
         June      2005           False
                   2006           False
         March     2004           False
                   2006           False
         May       2004           False
                   2005           False
         November  2005           False
A46      April     2005            True
                   2006           False

##  Monthly spend of each customer.

In [43]:
monthly_spend = spend.groupby(['Customer', 'S Month','S Year'])['Amount'].sum()

In [44]:
monthly_spend = pd.DataFrame(monthly_spend)

In [46]:
display_full_dataframe(monthly_spend)

                                 Amount
Customer S Month   S Year
A1       April     2006    5.645069e+05
         August    2005    1.293883e+05
         February  2004    4.138111e+04
                   2005    1.404193e+06
         January   2004    1.511173e+06
                   2005    3.984038e+05
         May       2004    1.311966e+05
         November  2005    4.573169e+05
         October   2006    2.207350e+05
A10      April     2006    6.021290e+04
         August    2006    2.308944e+05
         February  2005    3.573965e+05
         January   2004    7.474281e+05
         July      2006    2.674369e+05
         March     2004    4.351586e+05
                   2006    2.337414e+05
         May       2004    4.807288e+05
                   2005    6.960673e+05
                   2006    1.172956e+05
         November  2005    4.844257e+05
A100     January   2004    4.225419e+04
A11      April     2004    4.931042e+05
         August    2005    4.539811e+05
         February  2004    5.019403e+05
                   2005    4.926942e+05
         January   2004    8.195447e+05
         June      2005    4.127473e+05
                   2006    4.627846e+05
         March     2006    1.488703e+05
         May       2005    3.377852e+05
                   2006    1.039398e+05
         November  2006    2.616615e+05
         September 2006    9.287055e+04
A12      April     2005    5.244122e+05
                   2006    1.795846e+05
         August    2006    3.471292e+05
         February  2004    4.143921e+05
                   2005    1.208185e+06
         January   2004    7.449706e+05
                   2005    2.878571e+05
         July      2006    1.337266e+05
         June      2005    9.294122e+05
         March     2006    8.775819e+05
         May       2005    8.596220e+05
         November  2005    6.478689e+04
         October   2006    8.687326e+04
         September 2004    1.900529e+05
A13      April     2004    2.678509e+05
                   2006    5.929006e+05
         August    2006    1.446846e+05
         February  2005    2.032310e+06
                   2006    1.169444e+05
         January   2004    6.336622e+05
         July      2005    4.618902e+05
         June      2005    3.967439e+05
         March     2006    1.006233e+06
         May       2004    3.355591e+05
                   2005    5.986687e+05
                   2006    2.531827e+05
         November  2004    4.894623e+05
                   2005    3.967534e+05
                   2006    6.463962e+04
         September 2006    2.508526e+05
A14      April     2004    1.644898e+05
                   2005    4.696613e+05
                   2006    1.850607e+05
         August    2005    7.470524e+04
         December  2006    4.393573e+05
         February  2005    1.804303e+06
         January   2004    5.154660e+05
         July      2005    1.005640e+05
                   2006    4.805658e+05
         June      2005    8.190180e+04
         March     2006    1.161758e+06
         May       2005    5.259856e+05
                   2006    5.176778e+05
         November  2006    4.785365e+05
         October   2006    1.135759e+05
         September 2006    1.341510e+05
A15      August    2005    3.389989e+05
         February  2004    1.948092e+05
                   2005    2.025370e+05
                   2006    2.153967e+05
         January   2004    7.940466e+05
         July      2005    1.966673e+05
         June      2005    4.734607e+05
                   2006    3.454276e+05
         March     2006    7.746789e+05
         May       2005    6.254104e+05
                   2006    2.669103e+05
         November  2006    2.071003e+05
         September 2005    1.313575e+05
A16      August    2005    2.700026e+05
         December  2006    2.202590e+05
         February  2005    4.208625e+05
                   2006    1.649431e+05
         January   2004    7.220161e+05
         July      2006    8.985865e+05
         June      2005    1.605697e+05
         March     2006    1.881079e+06
         May       2005    2.847548e+05
                   2006    3.114741e+05
         October   2005    2.445098e+05
         September 2004    3.649857e+05
A17      August    2005    9.478690e+04
                   2006    2.533749e+05
         February  2005    2.738070e+05
         January   2004    1.037959e+06
         June      2005    3.644205e+05
         March     2004    4.734157e+05
                   2006    1.410310e+06
         May       2005    5.725398e+05
         November  2005    3.505768e+05
         September 2005    4.349897e+05
A18      December  2005    3.683637e+05
         February  2005    6.856675e+04
         January   2004    1.018212e+06
         July      2005    4.533024e+05
         March     2006    1.545245e+06
         May       2005    3.844696e+05
                   2006    1.719753e+05
         November  2006    4.413041e+05
         October   2005    2.715057e+05
         September 2004    4.852799e+05
                   2006    3.472935e+05
A19      April     2005    4.841960e+05
         August    2005    3.995494e+05
         February  2005    4.864982e+05
         January   2004    6.848223e+05
                   2005    4.991074e+05
                   2006    3.549583e+05
         July      2006    5.330197e+04
         March     2004    3.286674e+05
                   2006    4.208634e+05
         May       2005    3.270328e+05
         November  2005    1.184766e+06
         October   2006    3.437388e+05
A2       April     2004    3.174419e+05
                   2006    1.260609e+05
         February  2005    4.129934e+05
                   2006    2.582933e+05
         January   2004    7.352638e+05
         May       2006    4.428809e+05
         November  2004    3.517356e+05
                   2006    7.329449e+04
         September 2005    4.339832e+05
A20      April     2006    1.775171e+05
         August    2005    2.843831e+05
         December  2005    4.717130e+05
         February  2005    3.127495e+05
                   2006    9.341028e+05
         January   2004    1.017823e+06
         June      2005    4.874177e+05
         March     2004    7.818868e+04
                   2006    9.939157e+05
         November  2004    1.082096e+05
                   2006    4.658013e+05
         September 2005    1.586245e+05
A21      April     2004    6.594564e+05
                   2005    1.222900e+05
                   2006    4.491606e+05
         December  2006    4.873633e+05
         February  2004    4.060010e+05
                   2005    1.873083e+04
         January   2004    1.590264e+06
                   2005    3.419220e+05
                   2006    7.168475e+04
         June      2005    3.288124e+04
         March     2006    1.963231e+06
         May       2005    5.686407e+05
                   2006    5.165621e+05
         November  2005    2.469860e+05
         October   2005    3.195601e+05
         September 2004    2.135718e+05
A22      April     2005    1.510432e+05
                   2006    1.569311e+06
         February  2004    3.758367e+05
                   2005    2.852511e+05
                   2006    3.216665e+05
         January   2004    2.126632e+06
         July      2006    2.781887e+04
         June      2005    8.888792e+05
                   2006    4.952420e+05
         March     2004    3.640436e+05
                   2006    1.140972e+06
         May       2005    4.552162e+05
         November  2004    2.894935e+05
                   2005    1.146412e+06
A23      April     2004    6.441081e+05
                   2006    4.003032e+05
         August    2005    3.595836e+04
         December  2005    4.634428e+05
         February  2005    4.908021e+05
         January   2004    1.826466e+06
         July      2005    4.121608e+05
                   2006    4.388908e+05
         June      2005    2.994290e+05
         March     2006    1.418502e+06
         May       2004    3.175251e+05
                   2005    4.869251e+05
                   2006    2.427384e+05
         November  2006    8.839526e+04
A24      April     2005    5.616543e+05
                   2006    9.823608e+05
         August    2005    2.614466e+05
                   2006    4.080372e+05
         February  2004    4.570434e+05
                   2005    1.074979e+05
         January   2004    1.830944e+06
                   2006    2.546139e+05
         June      2005    4.571079e+05
                   2006    3.785817e+05
         March     2004    3.065102e+04
                   2006    4.441346e+05
         May       2005    1.194665e+05
                   2006    2.499463e+05
         November  2005    3.603003e+05
         September 2004    3.780560e+05
A25      April     2004    2.418901e+05
                   2006    7.897930e+05
         February  2005    1.459949e+05
                   2006    6.362719e+05
         January   2004    1.329579e+06
                   2005    3.751195e+05
         July      2005    9.013701e+03
                   2006    4.880537e+05
         March     2006    9.982514e+05
         May       2004    3.515052e+05
                   2005    3.567058e+05
         November  2004    9.359996e+04
                   2005    3.695698e+05
         September 2005    3.345892e+05
                   2006    2.156648e+05
A26      April     2004    6.574556e+04
                   2005    8.183135e+05
                   2006    4.238254e+05
         August    2005    3.799375e+05
                   2006    1.662091e+05
         February  2005    6.159762e+05
                   2006    8.037315e+04
         January   2004    7.617061e+05
                   2005    4.341277e+05
         March     2006    6.298437e+05
         May       2005    6.564803e+05
                   2006    6.237139e+05
         November  2006    4.376351e+05
         October   2005    2.986034e+04
                   2006    2.720611e+05
A27      April     2006    1.290525e+06
         February  2005    1.449161e+06
         January   2004    1.494497e+06
         March     2006    3.289012e+05
         May       2004    4.594498e+05
                   2005    1.282529e+06
         November  2005    5.203758e+05
                   2006    2.090418e+05
         September 2005    4.853358e+05
                   2006    3.621844e+05
A28      April     2004    5.149995e+05
                   2006    1.021917e+05
         December  2005    4.198181e+04
                   2006    1.886990e+05
         February  2004    8.114138e+05
                   2005    8.148874e+05
         January   2004    1.436930e+06
         March     2006    7.440783e+05
         May       2005    6.279359e+05
                   2006    1.533699e+06
         November  2004    2.723144e+05
         October   2005    9.033150e+04
                   2006    4.442882e+03
A29      April     2005    2.078398e+05
                   2006    3.497124e+05
         February  2004    2.397140e+05
                   2005    2.697049e+05
                   2006    2.226607e+05
         January   2004    1.499474e+06
                   2006    4.851939e+05
         July      2006    2.843839e+05
         June      2005    4.146279e+05
                   2006    1.343515e+05
         March     2006    7.256497e+05
         May       2005    1.028970e+06
         November  2005    2.736780e+05
                   2006    3.558858e+05
A3       April     2005    4.715839e+05
                   2006    6.704075e+04
         December  2006    4.119589e+05
         February  2005    3.023950e+05
                   2006    3.453895e+05
         January   2004    6.472166e+05
         March     2006    1.815547e+04
         May       2005    4.867305e+05
         October   2005    1.206938e+05
A30      April     2004    2.854371e+04
                   2006    2.659432e+05
         August    2005    2.870846e+05
         December  2005    4.873567e+05
                   2006    6.837307e+03
         February  2005    1.081409e+06
                   2006    3.819227e+05
         January   2004    1.106831e+06
         July      2006    8.034483e+05
         June      2005    3.476313e+05
         March     2006    6.100025e+05
         May       2004    2.246963e+05
                   2005    3.215500e+05
                   2006    5.308685e+05
A31      April     2006    5.825720e+04
         August    2006    2.241677e+04
         February  2005    1.812603e+05
         January   2004    6.256828e+05
                   2006    2.398155e+05
         July      2006    1.762962e+05
         March     2006    1.300725e+05
         May       2005    1.808202e+05
                   2006    7.919151e+04
         September 2004    1.700188e+05
A32      April     2006    1.131186e+05
         August    2005    6.963029e+04
         February  2005    6.350132e+05
                   2006    1.269214e+05
         January   2004    8.617374e+05
                   2005    4.327620e+05
         March     2006    2.419986e+05
         May       2005    7.008070e+05
         November  2005    2.556433e+04
         September 2006    4.725656e+05
A33      April     2006    4.540459e+05
         February  2005    7.978639e+04
                   2006    2.327221e+05
         January   2004    6.360755e+05
                   2005    4.084141e+05
         March     2006    6.154620e+05
         May       2005    2.199233e+05
                   2006    3.117775e+04
         November  2006    4.469367e+05
         October   2006    3.139622e+05
         September 2004    3.379234e+05
A34      April     2006    4.740619e+05
         February  2005    5.210600e+05
         January   2004    4.619098e+05
         March     2006    6.168096e+05
         May       2005    2.828710e+05
         November  2005    7.115594e+05
                   2006    3.727954e+05
A35      December  2006    1.409239e+05
         February  2004    4.788669e+05
                   2005    3.729338e+04
         January   2004    6.401716e+05
         March     2006    7.138103e+05
         May       2005    2.570539e+05
                   2006    6.047163e+05
         November  2004    4.639957e+05
                   2006    6.544008e+04
A36      April     2006    7.071130e+05
         December  2006    2.552094e+05
         February  2004    3.453328e+05
                   2005    6.734841e+05
         January   2004    1.905283e+06
         July      2006    2.942217e+05
         June      2006    4.635298e+05
         March     2006    1.027497e+06
         May       2005    1.209306e+06
         November  2004    4.649879e+05
                   2005    1.113616e+05
         September 2005    1.688705e+05
A37      April     2004    2.465200e+04
         August    2005    4.605616e+05
         February  2004    4.907991e+05
                   2005    9.396017e+05
         January   2004    2.605015e+06
         July      2006    1.291924e+04
         June      2005    2.666694e+05
         March     2004    3.521815e+05
                   2006    8.231086e+05
         May       2005    1.088357e+06
                   2006    1.521224e+05
         November  2004    3.692896e+05
         October   2005    4.327051e+05
A38      April     2005    4.853293e+05
                   2006    3.549202e+05
         August    2006    1.241705e+05
         February  2005    1.048271e+06
         January   2004    1.991223e+06
         July      2006    4.782788e+05
         June      2005    1.464402e+05
                   2006    1.665179e+05
         March     2004    3.489255e+04
                   2006    7.558168e+05
         May       2005    1.146402e+06
         November  2005    3.001713e+05
         September 2004    2.317917e+05
A39      April     2005    2.466255e+05
                   2006    4.225764e+05
         August    2005    1.324150e+05
         December  2005    1.278376e+05
         February  2005    7.348001e+05
         January   2004    2.417496e+06
                   2005    4.216888e+05
         July      2006    3.874347e+05
         June      2005    4.426947e+05
         March     2006    1.170326e+06
         May       2004    7.842230e+04
                   2005    1.079058e+06
         November  2005    4.758666e+05
         September 2006    3.894363e+05
A4       February  2005    3.201206e+05
         January   2004    1.103216e+06
         March     2006    4.246472e+05
         May       2004    3.358882e+05
                   2005    1.546440e+05
                   2006    3.322727e+05
         November  2005    4.508802e+05
A40      April     2005    4.878615e+05
                   2006    1.360545e+06
         August    2006    8.458271e+03
         February  2005    1.453291e+06
                   2006    3.726162e+05
         January   2004    2.233137e+06
                   2005    1.864885e+05
                   2006    2.762885e+05
         July      2005    3.621661e+05
         June      2005    9.633648e+04
         March     2006    4.276817e+05
         May       2005    1.362125e+06
                   2006    1.744256e+05
         November  2006    3.168435e+05
         October   2006    8.657100e+04
         September 2004    3.902041e+05
A41      April     2004    1.621694e+05
                   2006    1.143243e+06
         August    2005    2.373002e+04
         February  2005    1.029493e+06
                   2006    8.809249e+05
         January   2004    9.957277e+05
                   2005    8.846114e+05
         July      2005    1.755543e+05
         March     2006    3.488467e+05
         May       2005    1.744899e+06
         November  2005    4.265548e+05
                   2006    2.907100e+05
         September 2006    4.770692e+05
A42      April     2004    3.159439e+05
                   2006    6.664699e+05
         August    2005    1.962195e+04
         December  2006    4.144264e+04
         February  2004    1.251034e+05
                   2005    6.989246e+05
                   2006    6.966874e+05
         January   2004    1.940790e+06
         March     2006    1.416792e+06
         May       2005    9.849577e+05
                   2006    4.479713e+05
         November  2004    2.746721e+05
                   2006    4.064344e+05
         October   2006    1.830221e+05
         September 2005    4.468057e+05
A43      April     2004    3.425448e+05
                   2006    5.347693e+05
         February  2004    4.898072e+05
                   2005    6.719561e+05
         January   2004    1.098572e+06
         March     2006    1.171392e+06
         May       2005    1.286680e+06
         November  2005    1.101779e+05
                   2006    6.831515e+04
         October   2005    3.682272e+05
         September 2005    6.833257e+04
A44      April     2004    4.523761e+05
                   2005    2.513972e+05
         December  2006    3.527642e+05
         February  2004    4.658419e+05
                   2005    4.363320e+05
         January   2004    1.293630e+06
         June      2005    1.454974e+05
         March     2004    3.109355e+03
                   2006    1.059657e+06
         May       2005    1.331513e+06
                   2006    8.270635e+05
         November  2004    2.044992e+05
                   2005    1.027887e+05
         October   2005    4.169205e+05
A45      April     2005    2.880682e+05
                   2006    4.651061e+05
         December  2005    3.328194e+05
         February  2005    8.258384e+05
         January   2004    1.530606e+06
         July      2006    3.653409e+05
         June      2005    8.835024e+05
                   2006    3.599863e+05
         March     2004    4.607673e+05
                   2006    1.430965e+06
         May       2004    4.067925e+05
                   2005    8.051524e+05
         November  2005    3.436681e+05
A46      April     2005    1.387073e+05
                   2006    6.408438e+04

In [60]:
monthly_spend.max()

Amount    2.605015e+06
dtype: float64

In [61]:
monthly_spend.idxmax()

Amount    (A37, January, 2004)
dtype: object

##  Monthly repayment of each customer.

In [48]:
monthly_repayment = repayment.groupby(['Customer','R Month','R Year'])['Repayment'].sum()

In [49]:
monthly_repayment = pd.DataFrame(monthly_repayment)

In [50]:
monthly_repayment

                             Repayment
Customer R Month  R Year
A1       April    2006    3.712733e+05
         February 2004    1.911800e+05
                  2005    1.199808e+06
         January  2004    1.362775e+06
                  2005    1.581970e+03
...                                ...
A95      January  2004    7.510949e+04
A96      January  2004    1.101390e+05
A97      January  2004    1.746064e+05
A98      January  2004    9.780260e+04
A99      January  2004    3.585899e+05

[798 rows x 1 columns]

In [64]:
monthly_repayment.max()

Repayment    3.026776e+06
dtype: float64

In [65]:
monthly_repayment.idxmax()

Repayment    (A41, January, 2004)
dtype: object

##  Highest paying 10 customers.

In [62]:
highest_10 = spend.groupby(['Customer','S Month', 'S Year'])['Amount'].sum().nlargest(10)

In [63]:
highest_10

Customer  S Month   S Year
A37       January   2004      2.605015e+06
A39       January   2004      2.417496e+06
A60       January   2004      2.245218e+06
A40       January   2004      2.233137e+06
A22       January   2004      2.126632e+06
A13       February  2005      2.032310e+06
A38       January   2004      1.991223e+06
A21       March     2006      1.963231e+06
A42       January   2004      1.940790e+06
A36       January   2004      1.905283e+06
Name: Amount, dtype: float64

##  People in which segment are spending more money

In [54]:
segment_spend = merge_credit_spend.groupby(['Segment','S Month','S Year'])['Amount'].sum()

In [55]:
segment_spend = pd.DataFrame(segment_spend)

In [57]:
display_full_dataframe(segment_spend)

                                      Amount
Segment       S Month   S Year
Govt          April     2004    4.709543e+05
                        2005    5.301301e+05
                        2006    4.537539e+06
              August    2005    1.514305e+06
                        2006    4.478368e+05
              December  2005    1.169054e+06
                        2006    2.710380e+05
              February  2004    7.841881e+05
                        2005    6.170115e+06
                        2006    3.956979e+06
              January   2004    1.195284e+07
                        2005    2.323803e+06
                        2006    2.958979e+05
              July      2005    4.644468e+05
                        2006    2.045870e+06
              June      2005    2.876111e+06
                        2006    3.454276e+05
              March     2004    5.294807e+05
                        2006    9.639553e+06
              May       2004    1.593277e+06
                        2005    5.899580e+06
                        2006    2.872176e+06
              November  2004    9.708668e+05
                        2005    1.418180e+06
                        2006    1.058487e+06
              October   2005    2.135328e+05
                        2006    8.037678e+05
              September 2004    4.123667e+05
                        2005    7.597169e+05
                        2006    9.981105e+05
Normal Salary April     2004    2.007181e+06
                        2005    1.705185e+06
                        2006    6.119545e+06
              August    2005    2.417785e+06
                        2006    9.807534e+05
              December  2005    5.664141e+05
                        2006    1.510012e+06
              February  2004    2.841896e+06
                        2005    9.404518e+06
                        2006    3.530645e+06
              January   2004    2.239460e+07
                        2005    1.743615e+06
                        2006    1.252828e+06
              July      2005    2.361115e+05
                        2006    2.130229e+06
              June      2005    2.244533e+06
                        2006    1.643947e+06
              March     2004    8.324581e+05
                        2006    1.687793e+07
              May       2004    8.486817e+05
                        2005    9.952877e+06
                        2006    5.510276e+06
              November  2004    1.431529e+06
                        2005    2.261307e+06
                        2006    2.485723e+06
              October   2005    1.487898e+06
                        2006    1.093331e+06
              September 2004    1.212598e+06
                        2005    7.731255e+05
                        2006    2.096079e+05
Salaried_MNC  April     2004    2.262437e+06
                        2005    4.980228e+05
                        2006    3.344838e+06
              August    2005    6.124006e+05
                        2006    1.446846e+05
              December  2005    1.001626e+06
                        2006    6.528509e+05
              February  2004    1.277256e+06
                        2005    6.089046e+06
                        2006    1.245771e+06
              January   2004    1.343229e+07
                        2005    1.067623e+06
              July      2005    1.557178e+06
                        2006    1.218794e+06
              June      2005    1.284365e+06
              March     2004    4.531288e+05
                        2006    9.220944e+06
              May       2004    7.315066e+05
                        2005    5.994409e+06
                        2006    4.269927e+06
              November  2004    1.318011e+06
                        2005    9.754088e+05
                        2006    1.451006e+06
              October   2005    7.787577e+05
                        2006    5.015692e+05
              September 2004    8.232033e+05
                        2005    4.448555e+05
                        2006    9.875825e+05
Salaried_Pvt  April     2004    9.838131e+05
                        2005    3.558552e+06
                        2006    5.303208e+06
              August    2005    1.995479e+06
                        2006    4.663664e+05
              December  2005    3.328194e+05
                        2006    8.513162e+05
              February  2004    7.570591e+05
                        2005    8.731722e+06
                        2006    9.406664e+05
              January   2004    1.401009e+07
                        2005    1.176712e+06
                        2006    1.710222e+06
              July      2005    4.627301e+05
                        2006    1.554634e+06
              June      2005    2.036659e+06
                        2006    1.431226e+06
              March     2004    1.277309e+06
                        2006    7.291710e+06
              May       2004    4.067925e+05
                        2005    6.974305e+06
                        2006    1.167769e+06
              November  2005    3.777192e+06
                        2006    1.598201e+06
              October   2005    1.206938e+05
                        2006    5.438857e+05
              September 2004    1.127652e+06
                        2005    4.611995e+05
                        2006    6.543305e+05
Self Employed April     2004    9.310945e+05
                        2005    1.542718e+06
                        2006    6.241181e+06
              August    2005    7.386224e+05
                        2006    7.246747e+05
              February  2004    1.645752e+06
                        2005    1.074503e+07
                        2006    1.921828e+06
              January   2004    1.340882e+07
                        2005    1.774921e+06
                        2006    1.096926e+05
              July      2005    5.907387e+05
                        2006    6.398243e+05
              June      2005    2.733921e+06
                        2006    6.617600e+05
              March     2004    8.723518e+05
                        2006    9.110210e+06
              May       2004    5.906464e+05
                        2005    8.182669e+06
                        2006    3.751889e+05
              November  2004    2.894935e+05
                        2005    3.408695e+06
                        2006    7.386936e+05
              October   2005    3.682272e+05
                        2006    3.076083e+05
              September 2004    4.218446e+05
                        2005    9.886581e+05
                        2006    9.106025e+05

In [58]:
segment_spend.max()

Amount    2.239460e+07
dtype: float64

In [59]:
print(segment_spend.idxmax())

Amount    (Normal Salary, January, 2004)
dtype: object

## Which age group is spending more money?

In [68]:
age_range = [18,25,30,35,40,45,50,55,60,65,70,75,80]
merge_credit_spend['Age Group'] = pd.cut(merge_credit_spend['Age'], bins=age_range, labels=['18-25','25-30','30-35','35-40','40-45','45-50','50-55','55-60','60-65','65-70','70-75','75-80'])
age_group_spending =  merge_credit_spend.groupby(['Age Group','S Month', 'S Year'])['Amount'].sum()

In [72]:
age_group_spending = pd.DataFrame(age_group_spending)
display_full_dataframe(age_group_spending)

                                  Amount
Age Group S Month   S Year
18-25     April     2004    9.447752e+04
                    2005    3.914229e+05
                    2006    6.692370e+05
          August    2004    0.000000e+00
                    2005    4.086292e+05
                    2006    0.000000e+00
          December  2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          February  2004    5.238944e+05
                    2005    1.654514e+06
                    2006    8.276079e+05
          January   2004    5.264562e+06
                    2005    7.875854e+05
                    2006    0.000000e+00
          July      2004    0.000000e+00
                    2005    1.966673e+05
                    2006    8.437599e+05
          June      2004    0.000000e+00
                    2005    4.734607e+05
                    2006    9.952423e+05
          March     2004    0.000000e+00
                    2005    0.000000e+00
                    2006    2.329401e+06
          May       2004    0.000000e+00
                    2005    2.236076e+06
                    2006    8.906201e+05
          November  2004    0.000000e+00
                    2005    2.556433e+04
                    2006    2.071003e+05
          October   2004    0.000000e+00
                    2005    2.964740e+05
                    2006    0.000000e+00
          September 2004    3.248447e+05
                    2005    1.313575e+05
                    2006    4.725656e+05
25-30     April     2004    3.076356e+05
                    2005    8.183135e+05
                    2006    1.951631e+06
          August    2004    0.000000e+00
                    2005    3.799375e+05
                    2006    1.662091e+05
          December  2004    0.000000e+00
                    2005    3.683637e+05
                    2006    4.604023e+05
          February  2004    2.892789e+05
                    2005    8.355308e+05
                    2006    1.386880e+06
          January   2004    4.895163e+06
                    2005    8.092472e+05
                    2006    0.000000e+00
          July      2004    0.000000e+00
                    2005    4.623161e+05
                    2006    4.880537e+05
          June      2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          March     2004    0.000000e+00
                    2005    0.000000e+00
                    2006    4.743402e+06
          May       2004    3.515052e+05
                    2005    2.080551e+06
                    2006    1.470861e+06
          November  2004    4.161792e+05
                    2005    3.695698e+05
                    2006    8.789392e+05
          October   2004    0.000000e+00
                    2005    3.013661e+05
                    2006    2.720611e+05
          September 2004    4.852799e+05
                    2005    4.920385e+05
                    2006    5.629584e+05
30-35     April     2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          August    2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          December  2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          February  2004    0.000000e+00
                    2005    5.939075e+05
                    2006    0.000000e+00
          January   2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          July      2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          June      2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          March     2004    0.000000e+00
                    2005    0.000000e+00
                    2006    4.102478e+04
          May       2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          November  2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          October   2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          September 2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
35-40     April     2004    7.654251e+05
                    2005    1.510432e+05
                    2006    2.606286e+06
          August    2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          December  2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          February  2004    3.758367e+05
                    2005    7.232376e+05
                    2006    1.044207e+06
          January   2004    3.651183e+06
                    2005    0.000000e+00
                    2006    1.096926e+05
          July      2004    0.000000e+00
                    2005    0.000000e+00
                    2006    2.781887e+04
          June      2004    0.000000e+00
                    2005    8.888792e+05
                    2006    4.952420e+05
          March     2004    3.640436e+05
                    2005    0.000000e+00
                    2006    2.463617e+06
          May       2004    0.000000e+00
                    2005    1.479967e+06
                    2006    4.905502e+05
          November  2004    6.412291e+05
                    2005    1.146412e+06
                    2006    7.329449e+04
          October   2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          September 2004    0.000000e+00
                    2005    4.339832e+05
                    2006    0.000000e+00
40-45     April     2004    1.803481e+06
                    2005    3.046109e+06
                    2006    5.188086e+06
          August    2004    0.000000e+00
                    2005    2.259850e+06
                    2006    1.170545e+06
          December  2004    0.000000e+00
                    2005    8.652655e+05
                    2006    1.718606e+06
          February  2004    2.531533e+06
                    2005    1.576976e+07
                    2006    3.074582e+06
          January   2004    2.246502e+07
                    2005    2.872663e+06
                    2006    1.162305e+06
          July      2004    0.000000e+00
                    2005    6.456657e+05
                    2006    3.540665e+06
          June      2004    0.000000e+00
                    2005    3.885061e+06
                    2006    1.343515e+05
          March     2004    1.161125e+06
                    2005    0.000000e+00
                    2006    1.589835e+07
          May       2004    1.703941e+06
                    2005    1.183002e+07
                    2006    3.031186e+06
          November  2004    1.133424e+06
                    2005    4.794399e+06
                    2006    1.864584e+06
          October   2004    0.000000e+00
                    2005    1.485696e+06
                    2006    1.751713e+06
          September 2004    8.561324e+05
                    2005    5.151382e+05
                    2006    1.196554e+06
45-50     April     2004    0.000000e+00
                    2005    0.000000e+00
                    2006    1.105625e+06
          August    2004    0.000000e+00
                    2005    2.843831e+05
                    2006    0.000000e+00
          December  2004    0.000000e+00
                    2005    4.717130e+05
                    2006    0.000000e+00
          February  2004    0.000000e+00
                    2005    1.233716e+06
                    2006    1.166825e+06
          January   2004    3.586017e+06
                    2005    4.084141e+05
                    2006    0.000000e+00
          July      2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          June      2004    0.000000e+00
                    2005    4.874177e+05
                    2006    0.000000e+00
          March     2004    7.818868e+04
                    2005    0.000000e+00
                    2006    2.811212e+06
          May       2004    3.358882e+05
                    2005    6.574383e+05
                    2006    3.634505e+05
          November  2004    1.082096e+05
                    2005    1.162440e+06
                    2006    1.285533e+06
          October   2004    0.000000e+00
                    2005    0.000000e+00
                    2006    3.139622e+05
          September 2004    3.379234e+05
                    2005    1.586245e+05
                    2006    0.000000e+00
50-55     April     2004    8.983680e+05
                    2005    4.878615e+05
                    2006    3.075953e+06
          August    2004    0.000000e+00
                    2005    5.260946e+05
                    2006    8.458271e+03
          December  2004    0.000000e+00
                    2005    4.634428e+05
                    2006    1.232768e+05
          February  2004    1.105120e+05
                    2005    3.790928e+06
                    2006    8.564198e+05
          January   2004    6.718229e+06
                    2005    1.864885e+05
                    2006    2.762885e+05
          July      2004    0.000000e+00
                    2005    7.743269e+05
                    2006    8.313592e+05
          June      2004    0.000000e+00
                    2005    3.957654e+05
                    2006    0.000000e+00
          March     2004    4.500195e+05
                    2005    0.000000e+00
                    2006    3.767834e+06
          May       2004    3.175251e+05
                    2005    2.677548e+06
                    2006    2.018554e+06
          November  2004    3.050615e+05
                    2005    9.619497e+04
                    2006    4.875614e+05
          October   2004    0.000000e+00
                    2005    2.135328e+05
                    2006    8.657100e+04
          September 2004    3.902041e+05
                    2005    1.351456e+05
                    2006    0.000000e+00
55-60     April     2004    0.000000e+00
                    2005    3.698796e+05
                    2006    9.123696e+05
          August    2004    0.000000e+00
                    2005    1.085051e+05
                    2006    3.245221e+05
          December  2004    0.000000e+00
                    2005    1.472530e+05
                    2006    0.000000e+00
          February  2004    0.000000e+00
                    2005    1.718624e+06
                    2006    4.785292e+05
          January   2004    3.986355e+06
                    2005    3.320449e+05
                    2006    6.250239e+05
          July      2004    0.000000e+00
                    2005    2.052411e+05
                    2006    2.363167e+05
          June      2004    0.000000e+00
                    2005    1.878687e+06
                    2006    0.000000e+00
          March     2004    4.512920e+05
                    2005    0.000000e+00
                    2006    2.173798e+06
          May       2004    3.391161e+05
                    2005    9.031900e+05
                    2006    7.750986e+05
          November  2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          October   2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          September 2004    4.530655e+05
                    2005    0.000000e+00
                    2006    0.000000e+00
60-65     April     2004    4.931042e+05
                    2005    0.000000e+00
                    2006    0.000000e+00
          August    2004    0.000000e+00
                    2005    4.539811e+05
                    2006    0.000000e+00
          December  2004    0.000000e+00
                    2005    0.000000e+00
                    2006    1.409239e+05
          February  2004    9.808072e+05
                    2005    5.299876e+05
                    2006    0.000000e+00
          January   2004    1.459716e+06
                    2005    0.000000e+00
                    2006    0.000000e+00
          July      2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          June      2004    0.000000e+00
                    2005    4.127473e+05
                    2006    4.627846e+05
          March     2004    0.000000e+00
                    2005    0.000000e+00
                    2006    9.466120e+05
          May       2004    0.000000e+00
                    2005    5.948390e+05
                    2006    7.086561e+05
          November  2004    4.639957e+05
                    2005    0.000000e+00
                    2006    3.271016e+05
          October   2004    0.000000e+00
                    2005    0.000000e+00
                    2006    0.000000e+00
          September 2004    0.000000e+00
                    2005    0.000000e+00
                    2006    9.287055e+04
65-70     April     2004    1.238897e+06
                    2005    5.533743e+05
                    2006    5.440804e+06
          August    2004    0.000000e+00
                    2005    1.268428e+06
                    2006    2.591279e+05
          December  2004    0.000000e+00
                    2005    7.118941e+05
                    2006    6.079736e+05
          February  2004    1.165530e+06
                    2005    6.579004e+06
                    2006    1.650013e+06
          January   2004    1.076959e+07
                    2005    1.122131e+06
                    2006    6.015499e+05
          July      2004    0.000000e+00
                    2005    4.053785e+05
                    2006    7.720573e+05
          June      2004    0.000000e+00
                    2005    1.277651e+06
                    2006    8.913342e+05
          March     2004    4.638767e+05
                    2005    0.000000e+00
                    2006    1.003201e+07
          May       2004    6.634781e+05
                    2005    8.317553e+06
                    2006    1.706444e+06
          November  2004    6.694871e+05
                    2005    2.197187e+06
                    2006    1.628127e+06
          October   2004    0.000000e+00
                    2005    5.817092e+05
                    2006    4.907312e+05
          September 2004    1.809751e+05
                    2005    6.409423e+05
                    2006    4.770692e+05
70-75     April     2004    5.149995e+05
                    2005    1.634671e+06
                    2006    1.879897e+06
          August    2004    0.000000e+00
                    2005    7.515382e+05
                    2006    8.354536e+05
          December  2004    0.000000e+00
                    2005    4.198181e+04
                    2006    1.886990e+05
          February  2004    1.268457e+06
                    2005    3.737863e+06
                    2006    0.000000e+00
          January   2004    8.542274e+06
                    2005    0.000000e+00
                    2006    5.937818e+05
          July      2004    0.000000e+00
                    2005    0.000000e+00
                    2006    8.493198e+05
          June      2004    0.000000e+00
                    2005    1.071151e+06
                    2006    6.590590e+05
          March     2004    9.961825e+05
                    2005    0.000000e+00
                    2006    3.636666e+06
          May       2004    0.000000e+00
                    2005    3.297368e+06
                    2006    2.009364e+06
          November  2004    2.723144e+05
                    2005    1.513602e+06
                    2006    0.000000e+00
          October   2004    0.000000e+00
                    2005    9.033150e+04
                    2006    4.442882e+03
          September 2004    9.692393e+05
                    2005    4.349897e+05
                    2006    5.201795e+05
75-80     April     2004    5.390923e+05
                    2005    3.819336e+05
                    2006    2.716424e+06
          August    2004    0.000000e+00
                    2005    8.372459e+05
                    2006    0.000000e+00
          December  2004    0.000000e+00
                    2005    0.000000e+00
                    2006    4.533545e+04
          February  2004    6.030164e+04
                    2005    3.973365e+06
                    2006    1.110824e+06
          January   2004    3.860522e+06
                    2005    1.568100e+06
                    2006    0.000000e+00
          July      2004    0.000000e+00
                    2005    6.216091e+05
                    2006    0.000000e+00
          June      2004    0.000000e+00
                    2005    4.047685e+05
                    2006    4.443470e+05
          March     2004    0.000000e+00
                    2005    0.000000e+00
                    2006    3.296421e+06
          May       2004    4.594498e+05
                    2005    2.929292e+06
                    2006    7.305512e+05
          November  2004    0.000000e+00
                    2005    5.354138e+05
                    2006    5.798702e+05
          October   2004    0.000000e+00
                    2005    0.000000e+00
                    2006    3.306804e+05
          September 2004    0.000000e+00
                    2005    4.853358e+05
                    2006    4.380369e+05

In [73]:
age_group_spending.max()

Amount    2.246502e+07
dtype: float64

In [74]:
age_group_spending.idxmax()

Amount    (40-45, January, 2004)
dtype: object

In [76]:
merge = pd.merge(repayment,merge_credit_spend,on='Customer',how='left')

In [78]:
merge

,Customer,Repayment,R Month,R Year,Age,City,Credit Card Product,Limit,Company,Segment,Type,Amount,S Month,S Year,Exceed_limit,Age Group
0,A1,331844.007374,January,2004,40.146505,BANGALORE,Gold,500000,C1,Self Employed,JEWELLERY,473775.834869,January,2004,-26224.165131,40-45
1,A1,331844.007374,January,2004,40.146505,BANGALORE,Gold,500000,C1,Self Employed,PETRO,335578.666019,January,2004,-164421.333981,40-45
2,A1,331844.007374,January,2004,40.146505,BANGALORE,Gold,500000,C1,Self Employed,CLOTHES,371040.941912,January,2004,-128959.058088,40-45
3,A1,331844.007374,January,2004,40.146505,BANGALORE,Gold,500000,C1,Self Employed,FOOD,141177.813256,January,2004,-358822.186744,40-45
4,A1,331844.007374,January,2004,40.146505,BANGALORE,Gold,500000,C1,Self Employed,CAMERA,398403.771812,January,2005,-101596.228188,40-45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37279,A69,391195.615836,July,2006,77.791501,CALCUTTA,Platimum,10000,C31,Self Employed,BUS TICKET,206552.273598,March,2006,196552.273598,75-80
37280,A70,357629.618186,August,2005,34.869273,BOMBAY,Platimum,10001,C32,Self Employed,AIR TICKET,161440.544350,February,2005,151439.544350,30-35
37281,A70,357629.618186,August,2005,34.869273,BOMBAY,Platimum,10001,C32,Self Employed,BUS TICKET,41024.781283,March,2006,31023.781283,30-35
37282,A71,179771.745248,September,2004,52.333796,BOMBAY,Platimum,10002,C33,Self Employed,AIR TICKET,423694.651910,February,2005,413692.651910,50-55
37283,A71,179771.745248,September,2004,52.333796,BOMBAY,Platimum,10002,C33,Self Employed,BUS TICKET,101397.548588,March,2006,91395.548588,50-55

In [79]:
merge.isnull().sum()

Customer               0
Repayment              0
R Month                0
R Year                 0
Age                    0
City                   0
Credit Card Product    0
Limit                  0
Company                0
Segment                0
Type                   0
Amount                 0
S Month                0
S Year                 0
Exceed_limit           0
Age Group              0
dtype: int64

## Which is the most profitable segment?

In [80]:
merge['Profit'] = merge['Amount'] - merge['Repayment']

In [84]:
Profitable_segment = merge.groupby(['Segment','S Month','S Year'])['Profit'].sum()

In [85]:
Profitable_segment = pd.DataFrame(Profitable_segment)
display_full_dataframe(Profitable_segment)

                                      Profit
Segment       S Month   S Year
Govt          April     2004   -9.788844e+06
                        2005   -5.237065e+06
                        2006   -2.338157e+06
              August    2005    2.050456e+06
                        2006   -5.979772e+05
              December  2005    1.802327e+06
                        2006   -9.049861e+06
              February  2004    1.248941e+06
                        2005   -7.092837e+05
                        2006    2.067387e+07
              January   2004   -3.150832e+07
                        2005    1.299144e+07
                        2006    1.478566e+06
              July      2005   -1.361748e+07
                        2006    1.518121e+07
              June      2005    2.455386e+07
                        2006    2.833129e+06
              March     2004    2.783715e+06
                        2006   -6.626402e+06
              May       2004    1.245165e+07
                        2005    2.938431e+07
                        2006    1.274579e+07
              November  2004   -8.036285e+05
                        2005    1.461478e+06
                        2006   -1.103764e+07
              October   2005   -2.420040e+06
                        2006    1.292740e+07
              September 2004   -4.079013e+06
                        2005   -1.579635e+05
                        2006    9.893412e+06
Normal Salary April     2004   -6.112233e+06
                        2005    2.262880e+06
                        2006    1.415686e+07
              August    2005    9.815917e+06
                        2006   -4.260136e+06
              December  2005   -8.157171e+06
                        2006    4.282882e+06
              February  2004    4.723485e+05
                        2005   -2.116723e+07
                        2006    8.421209e+06
              January   2004    4.511346e+07
                        2005   -7.407707e+05
                        2006   -5.178008e+06
              July      2005   -7.564717e+06
                        2006   -1.794642e+06
              June      2005   -7.907004e+06
                        2006    1.182325e+07
              March     2004    1.862076e+06
                        2006    3.527922e+05
              May       2004    1.694353e+06
                        2005   -1.925494e+06
                        2006    2.266991e+04
              November  2004    8.301586e+06
                        2005    4.068098e+05
                        2006    1.108644e+07
              October   2005   -2.605484e+06
                        2006    1.084426e+06
              September 2004    2.041646e+06
                        2005    4.245068e+06
                        2006   -4.177456e+06
Salaried_MNC  April     2004    7.594357e+06
                        2005   -1.432701e+05
                        2006    8.201314e+06
              August    2005   -1.091078e+07
                        2006   -3.434344e+06
              December  2005   -6.249578e+06
                        2006    1.129303e+06
              February  2004    7.479804e+06
                        2005   -2.452103e+07
                        2006   -1.480272e+07
              January   2004    8.534381e+06
                        2005    5.732241e+06
              July      2005    1.434386e+07
                        2006    1.316181e+07
              June      2005   -6.035189e+06
              March     2004   -3.946677e+06
                        2006    1.082340e+07
              May       2004    2.553578e+05
                        2005    3.026666e+07
                        2006    3.573100e+06
              November  2004    6.726835e+06
                        2005    6.736130e+06
                        2006   -4.371106e+06
              October   2005    4.486994e+05
                        2006   -9.080272e+06
              September 2004    4.392743e+06
                        2005   -6.802237e+06
                        2006    4.937518e+06
Salaried_Pvt  April     2004    4.243514e+06
                        2005    2.775599e+07
                        2006    3.668284e+07
              August    2005    1.146193e+07
                        2006   -1.075548e+07
              December  2005    2.202190e+06
                        2006    9.317676e+06
              February  2004   -4.407684e+06
                        2005    1.588278e+07
                        2006    3.426508e+06
              January   2004   -5.585318e+06
                        2005    1.456971e+06
                        2006    5.901372e+06
              July      2005   -1.239356e+06
                        2006   -6.446619e+06
              June      2005   -1.102018e+07
                        2006   -4.345329e+06
              March     2004    1.006140e+07
                        2006   -1.117191e+07
              May       2004    4.495358e+06
                        2005    7.060699e+06
                        2006   -7.065126e+05
              November  2005    2.097172e+07
                        2006    1.093614e+07
              October   2005   -7.274120e+05
                        2006   -8.262548e+06
              September 2004    1.203093e+07
                        2005   -7.641383e+05
                        2006   -1.377465e+06
Self Employed April     2004    7.572724e+05
                        2005   -2.039949e+06
                        2006   -1.036174e+07
              August    2005   -6.992367e+05
                        2006    9.373139e+05
              February  2004    1.185680e+07
                        2005    6.789558e+06
                        2006    2.198614e+06
              January   2004   -3.835451e+07
                        2005    5.611203e+06
                        2006   -3.078691e+06
              July      2005    1.447293e+06
                        2006   -4.503383e+06
              June      2005    1.361389e+07
                        2006    4.684223e+06
              March     2004    1.628529e+06
                        2006   -1.605733e+07
              May       2004    3.015770e+06
                        2005    1.120892e+07
                        2006   -2.412782e+06
              November  2004   -2.138838e+05
                        2005   -8.566531e+06
                        2006   -7.704660e+06
              October   2005    2.956423e+06
                        2006   -4.738391e+06
              September 2004   -1.549219e+06
                        2005    3.430500e+06
                        2006   -9.147535e+05

In [86]:
Profitable_segment.max()

Profit    4.511346e+07
dtype: float64

In [87]:
Profitable_segment.idxmax()

Profit    (Normal Salary, January, 2004)
dtype: object

##  In which category the customers are spending more money?

In [88]:
max_spend_category = merge.groupby(['Type','S Month','S Year'])['Amount'].sum()

Type          S Month    S Year
AIR TICKET    April      2005      1.455950e+07
                         2006      8.662829e+07
              August     2005      2.416482e+07
                         2006      1.352137e+07
              December   2005      1.339723e+07
                                       ...
TRAIN TICKET  November   2005      6.431938e+07
                         2006      1.199559e+07
              October    2006      1.199578e+05
              September  2004      1.675347e+07
                         2006      3.384603e+07
Name: Amount, Length: 255, dtype: float64

In [89]:
max_spend_category =pd.DataFrame(max_spend_category)
display_full_dataframe(max_spend_category)

                                     Amount
Type         S Month   S Year
AIR TICKET   April     2005    1.455950e+07
                       2006    8.662829e+07
             August    2005    2.416482e+07
                       2006    1.352137e+07
             December  2005    1.339723e+07
             February  2004    3.821743e+07
                       2005    5.836159e+07
                       2006    3.303725e+07
             January   2004    8.634656e+07
                       2005    1.699645e+07
                       2006    1.093054e+07
             July      2005    3.162036e+06
                       2006    4.200463e+07
             June      2005    4.198977e+07
                       2006    1.915782e+07
             March     2004    1.563774e+06
                       2006    6.405271e+07
             May       2005    9.407585e+07
                       2006    1.002159e+08
             November  2004    3.238930e+07
                       2005    1.851215e+07
             October   2005    1.341386e+07
             September 2005    4.499363e+07
                       2006    4.023098e+06
AUTO         April     2006    1.019220e+07
             December  2005    4.372810e+06
                       2006    1.362008e+07
             February  2005    4.918811e+07
             January   2004    5.571522e+06
             March     2006    9.051983e+07
             May       2005    9.548302e+06
                       2006    1.744640e+07
             November  2006    5.349335e+07
BIKE         April     2005    9.209844e+05
                       2006    1.896219e+07
             February  2004    1.085430e+06
                       2006    6.447005e+07
             January   2004    8.948405e+05
                       2005    5.377784e+07
             March     2006    7.122288e+07
             May       2005    1.001102e+08
             November  2004    5.162799e+05
                       2005    2.212104e+07
                       2006    3.122379e+06
BUS TICKET   April     2004    4.562892e+07
                       2006    5.736882e+06
             August    2005    1.895738e+06
                       2006    1.333180e+07
             February  2004    5.679235e+07
                       2005    6.825012e+07
                       2006    3.916826e+05
             January   2004    1.022591e+08
             July      2006    2.468147e+06
             June      2005    2.772183e+07
                       2006    5.605760e+07
             March     2006    4.950557e+07
             May       2004    2.361539e+06
                       2005    1.282392e+08
             November  2004    1.389835e+07
                       2005    7.759496e+06
                       2006    8.889725e+06
             October   2005    2.956295e+07
             September 2004    1.365688e+07
CAMERA       April     2004    8.875875e+06
                       2005    5.394368e+07
                       2006    5.782767e+07
             August    2005    1.389685e+07
             February  2005    5.792181e+07
                       2006    8.735216e+06
             January   2004    3.661239e+08
                       2005    5.718485e+07
                       2006    1.496501e+07
             July      2005    5.763328e+07
                       2006    4.895010e+07
             June      2005    1.260123e+08
             March     2004    4.375396e+07
                       2006    1.801920e+08
             May       2005    3.700475e+07
                       2006    4.703002e+06
             November  2006    2.300171e+06
             September 2005    8.699794e+06
CAR          April     2006    5.744461e+06
             February  2005    3.948155e+06
                       2006    3.298862e+06
             January   2004    3.339286e+07
             March     2006    3.160803e+07
             May       2006    8.417289e+06
             November  2004    1.144798e+07
             October   2005    2.966197e+06
                       2006    2.693071e+06
             September 2004    4.170384e+07
CLOTHES      April     2005    4.636570e+06
                       2006    8.034756e+06
             December  2006    1.734474e+07
             February  2004    1.486139e+07
                       2005    8.672485e+07
                       2006    7.833404e+06
             January   2004    1.507067e+08
                       2005    1.374994e+07
             June      2005    2.238132e+07
             March     2004    7.650331e+06
                       2006    1.636381e+08
             May       2005    7.562353e+07
             November  2005    9.031423e+06
             September 2006    1.160431e+07
FOOD         April     2004    1.702578e+07
                       2005    2.315360e+07
                       2006    2.557110e+07
             August    2005    2.908775e+07
             December  2005    3.447903e+06
             February  2004    1.623506e+07
                       2005    7.345528e+07
                       2006    5.130413e+06
             January   2004    3.108219e+08
                       2005    6.074634e+06
             July      2005    1.825289e+07
                       2006    1.679924e+07
             June      2005    3.512868e+07
             March     2004    1.201344e+07
                       2006    1.541561e+08
             May       2004    1.471992e+07
                       2005    1.278760e+08
                       2006    3.744725e+07
             November  2004    6.495940e+06
                       2005    2.061456e+07
                       2006    6.257113e+06
             October   2006    5.843774e+06
             September 2004    9.565807e+06
JEWELLERY    April     2004    8.609286e+06
                       2005    1.836569e+07
                       2006    7.506797e+07
             December  2006    1.632861e+07
             February  2004    1.309638e+07
                       2005    8.564431e+07
                       2006    2.845702e+07
             January   2004    1.173603e+08
                       2005    6.448421e+06
             July      2006    1.426535e+07
             June      2005    9.061475e+06
             March     2004    1.399005e+07
                       2006    2.625874e+07
             May       2004    4.620341e+06
                       2005    1.068450e+08
                       2006    1.784264e+07
             November  2005    8.150540e+06
             October   2006    3.678147e+07
             September 2005    1.380772e+07
MOVIE TICKET April     2004    7.615716e+06
                       2006    6.552662e+07
             August    2005    9.811248e+06
             December  2005    2.488401e+06
             February  2005    9.119162e+07
                       2006    5.009306e+06
             January   2004    4.922788e+07
                       2006    3.733189e+07
             June      2006    4.330459e+06
             March     2006    2.113609e+07
             May       2005    4.166288e+07
                       2006    5.506100e+07
             November  2005    1.321960e+07
                       2006    1.184733e+07
             October   2005    3.570320e+06
             September 2005    1.634670e+06
                       2006    4.133497e+07
PETRO        April     2004    2.670677e+07
                       2005    4.035570e+06
                       2006    8.278777e+07
             August    2005    2.542478e+07
                       2006    1.895098e+06
             December  2005    6.948648e+06
                       2006    2.246258e+07
             February  2004    2.934191e+07
                       2005    1.263216e+08
                       2006    4.729598e+07
             January   2004    1.841317e+08
                       2005    2.508434e+07
                       2006    1.565701e+07
             July      2005    6.028722e+06
                       2006    1.351073e+07
             June      2005    4.306712e+07
             March     2004    1.604166e+07
                       2006    1.587581e+08
             May       2005    1.220303e+08
                       2006    6.972104e+07
             November  2004    3.472472e+07
                       2005    6.763745e+07
                       2006    5.603769e+07
             October   2005    2.069140e+07
             September 2004    1.499640e+07
                       2005    5.109847e+06
RENTAL       April     2006    6.450235e+07
             August    2006    4.410636e+07
             December  2005    4.423997e+07
                       2006    7.911492e+06
             February  2005    5.895084e+07
                       2006    1.017322e+07
             January   2004    1.010775e+08
                       2005    1.852875e+07
             July      2005    8.948084e+06
             March     2006    8.225908e+06
             May       2004    6.522886e+07
                       2005    4.458950e+07
                       2006    1.926962e+06
             November  2005    8.937531e+06
                       2006    6.581478e+06
             October   2006    4.019009e+07
             September 2004    4.730927e+06
                       2006    1.464760e+07
SANDALS      April     2006    1.024590e+07
             August    2005    3.024095e+07
             December  2006    2.227754e+05
             February  2005    1.177426e+07
                       2006    4.615185e+06
             January   2004    3.733058e+07
             March     2004    7.832854e+06
                       2006    2.793863e+07
             May       2004    9.490639e+06
             November  2005    3.452208e+06
             September 2005    2.432622e+06
SHOPPING     April     2004    3.614466e+07
                       2006    9.398173e+07
             August    2005    4.137270e+07
             February  2004    1.130970e+07
                       2005    8.740690e+07
                       2006    1.155110e+07
             January   2004    1.993513e+08
                       2005    6.058668e+06
                       2006    4.508416e+06
             June      2006    2.247194e+07
             March     2006    7.232825e+07
             May       2005    3.461651e+07
                       2006    5.338207e+06
             November  2005    3.890842e+07
             October   2005    5.430115e+06
TRAIN TICKET April     2004    1.543308e+07
                       2005    9.478586e+07
                       2006    2.865861e+07
             August    2005    6.662486e+06
                       2006    4.487644e+06
             December  2006    1.846073e+05
             February  2005    1.509504e+08
                       2006    3.493289e+07
             January   2004    8.027309e+07
             July      2006    5.887900e+07
             June      2005    8.507997e+06
             March     2004    1.639702e+06
                       2006    1.154737e+08
             May       2004    1.040233e+07
                       2005    5.161059e+07
                       2006    1.813978e+07
             November  2005    6.431938e+07
                       2006    1.199559e+07
             October   2006    1.199578e+05
             September 2004    1.675347e+07
                       2006    3.384603e+07

In [90]:
max_spend_category.max()

Amount    3.661239e+08
dtype: float64

In [92]:
max_spend_category.idxmax()

Amount    (CAMERA, January, 2004)
dtype: object

## Impose an interest rate of 2.9% for each customer for any due amount.

In [101]:
positive_profit = merge[merge['Profit']>0]

In [102]:
due_amount = positive_profit.groupby(['S Month','S Year'])['Profit'].sum()

In [104]:
due_amount = pd.DataFrame(due_amount)

In [105]:
display_full_dataframe(due_amount)

                        Profit
S Month   S Year
April     2004    5.655164e+07
          2005    7.771466e+07
          2006    2.155404e+08
August    2005    6.627447e+07
          2006    2.166509e+07
December  2005    2.663722e+07
          2006    3.208432e+07
February  2004    6.176561e+07
          2005    3.267080e+08
          2006    9.060878e+07
January   2004    6.194908e+08
          2005    7.363122e+07
          2006    2.638506e+07
July      2005    2.951839e+07
          2006    7.927776e+07
June      2005    1.069655e+08
          2006    4.002931e+07
March     2004    4.117741e+07
          2006    4.192893e+08
May       2004    3.864840e+07
          2005    3.264574e+08
          2006    1.194382e+08
November  2004    3.454360e+07
          2005    9.882112e+07
          2006    5.333834e+07
October   2005    2.411755e+07
          2006    2.553284e+07
September 2004    3.208934e+07
          2005    2.832216e+07
          2006    3.422736e+07

In [106]:
interest_pay = due_amount*0.029

In [107]:
customer_pay = due_amount + interest_pay

In [108]:
customer_pay

                        Profit
S Month   S Year
April     2004    5.819164e+07
          2005    7.996838e+07
          2006    2.217911e+08
August    2005    6.819643e+07
          2006    2.229338e+07
December  2005    2.740970e+07
          2006    3.301476e+07
February  2004    6.355681e+07
          2005    3.361826e+08
          2006    9.323644e+07
January   2004    6.374560e+08
          2005    7.576653e+07
          2006    2.715023e+07
July      2005    3.037442e+07
          2006    8.157681e+07
June      2005    1.100675e+08
          2006    4.119016e+07
March     2004    4.237155e+07
          2006    4.314487e+08
May       2004    3.976921e+07
          2005    3.359246e+08
          2006    1.229019e+08
November  2004    3.554536e+07
          2005    1.016869e+08
          2006    5.488515e+07
October   2005    2.481696e+07
          2006    2.627329e+07
September 2004    3.301993e+07
          2005    2.914350e+07
          2006    3.521996e+07

## Monthly profit for the bank.

In [110]:
display_full_dataframe(due_amount)

                        Profit
S Month   S Year
April     2004    5.655164e+07
          2005    7.771466e+07
          2006    2.155404e+08
August    2005    6.627447e+07
          2006    2.166509e+07
December  2005    2.663722e+07
          2006    3.208432e+07
February  2004    6.176561e+07
          2005    3.267080e+08
          2006    9.060878e+07
January   2004    6.194908e+08
          2005    7.363122e+07
          2006    2.638506e+07
July      2005    2.951839e+07
          2006    7.927776e+07
June      2005    1.069655e+08
          2006    4.002931e+07
March     2004    4.117741e+07
          2006    4.192893e+08
May       2004    3.864840e+07
          2005    3.264574e+08
          2006    1.194382e+08
November  2004    3.454360e+07
          2005    9.882112e+07
          2006    5.333834e+07
October   2005    2.411755e+07
          2006    2.553284e+07
September 2004    3.208934e+07
          2005    2.832216e+07
          2006    3.422736e+07

# Exporting file

In [115]:
merge.to_excel('task1.xlsx',index=False)